{% extends "base.html" %} 
{% block title %} Sample Recipes {% endblock %}
{% block content %}
    <!-- i can put any html code here and it will be rendered for each page-->
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
    
    <h2>Saved Recipes</h2>
    
    <table>
      <tr>
        <th>Recipe name</th>
        <th>Protein</th>
        <th>Instructions</th>
      </tr>
      <tr>
        <td>Avocado Toast</td>
        <td>Egg</td>
        <td>
          <ul>
            <li><a href="/avocado_toast">Click here for details</a>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Albondiga Soup</td>
        <td>Beef</td>
        <td>
          <ul>
            <li><a href="/albondiga_soup">Click here for details</a>
          </ul>
        </td>
        
      </tr>
      <tr>
        <td>Summer Soup</td>
        <td>Beans/Lentils</td>
      <td>
        <ul>
          <li><a href="/summer_soup">Click here for details</a>
        </ul>
      </td>
    </tr>

    
{% endblock %}